.logo__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 33.18px;
  line-height: 120%;
  color: #fff;
}
.logotext {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  color: #fff;
}
.lol {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #fff;
  display: flex;
  justify-content: center;
}
.lel {
  color: #fff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
}
